.demo-card-square.mdl-card {
    width: 320px;
	height: 400px;
}

.demo-card-square > .mdl-card__title {
	color: #fff;
	/*Put any image here */
    background: url('C:\Users\Kunj\Downloads\Data Networks\image.jpeg') bottom right 15% no-repeat #46B6AC;
}
